body{
	
	font-family: 'Poppins', sans-serif;	
}

.imagem{
	display: flex;
	align-items: center;
	justify-content: center;	
}

.imagem img{
	width: 300px;	
	margin-bottom: 7px;
}

.principal{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;	
}

.titulo-principal{
	width: 282px;
	height: 31px;
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 128.91%;
	text-align: center;
	margin-bottom: 26px;
}

.principal p{
	font-weight: 400;
	font-size: 18px;
	line-height: 128.91%;
	margin-bottom: 64px;
	text-align: center;
	
}

.texto-opacidade{
	opacity: 0.3;
}

.point{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 66px;
	
}

.point-1{
	margin-left: 17px;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	border: 1px solid #000000;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));	
}

.point-2 {
    border-radius: 50%;
    height: 12px;
    width: 12px;
    border: 1px solid #000000;
    text-align: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-left: 17px;
}

.point-3 {
    border-radius: 50%;
    height: 14px;
    width: 14px;
    background-color: #92E3A9;
    left: 144px;
    text-align: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-left: 17px;
 }

 .botao{
 	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

 .botao-continue{
 	width: 308px;
 	height: 54px;
 	background-color: #92E3A9;
 	box-shadow: 0px 4px 10px #A1C3FC;
 	font-weight: 500;
 	font-size: 18px;
 	line-height: 128.91%;
 	text-align: center;
 	border: none;
 	cursor: pointer;
 	text-decoration: none;
 	color: #FFFFFF;
 	margin-bottom: 39px;
}

.skip{
	width: 38px;
	height: 23px;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 23.5px;
	text-align: center;
}

.skip a{
	text-decoration: none;
	color: #92E3A9;
}


@media screen and (max-width: 480px){
	.principal p{
		width: 299px;
	
	}
}

